.fotografia {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: calc(33.33% - 1rem);
}

@media screen and (min-width: 0) {
    .fotografia {
        row-gap: 2rem;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .fotografia {
        row-gap: 1rem;
        width: calc(33.33% - 1rem);
    }
}