.menu {
    background: whitesmoke;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 25%;
}

@media screen and (min-width: 0) {
    .menu {
        border-radius: 0;
        padding: 0;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .menu {
        border-radius: 0 5px 5px 0;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .menu {
        border-radius: 5px;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 50%;
    }
}

@media screen and (min-width: 1440px) {
    .menu {
        width: 25%;
    }
}