.descricao {
    background: whitesmoke;
    padding: 2rem;
    text-align: center;
    width: calc(100% - 4rem);
}

@media screen and (min-width: 0) {
    .descricao {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .descricao {
        width: calc(100% - 4rem);
    }
}