.banner__titulo {
    color: whitesmoke;
    font-family: Pacifico, cursive;
    font-size: 5rem;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
    top: 45%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.banner__titulo::before {
    content: "☀️";
}

.banner__titulo::after {
    content: "🌙";
}

@media screen and (min-width: 0) {
    .banner__titulo {
        font-size: 3rem;
        left: 60%;
    }
}

@media screen and (min-width: 768px) {
    .banner__titulo {
        font-size: 4rem;
        left: 55%;
    }
}

@media screen and (min-width: 1024px) {
    .banner__titulo {
        font-size: 5rem;
        left: 50%;
    }
}