.conteudos {
    background: lightgray;
    column-gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
    row-gap: 1rem;
    width: calc(100% - 4rem);
}

@media screen and (min-width: 0) {
    .conteudos {
        column-gap: 0;
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .conteudos {
        column-gap: 1rem;
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {
    .conteudos {
        width: calc(100% - 4rem);
    }
}